.bid {
  background-image: url("/landing-project-wheels/image_building.png");
  background-repeat: no-repeat;
  background-color: #e3f2fe;
  background-position: bottom center;
}

.bid-title {
  font-size: 42px;
  line-height: 46px;
  margin: 0 auto;
  padding-top: 122px;
  font-weight: 500;
}

.bid-description {
  margin: 0 auto;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2e2e;
  padding-right: 652px;
}

.bid-forma-list {
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 0;
  display: flex;
  gap: 36px;
}

li {
  list-style-type: none;
}

.bid-button {
  top: 16px;
  bottom: 16px;
  left: 36px;
  border-radius: 4px;
  width: 205px;
  height: 56px;
  background-color: #263f63;
  color: #ffffff;
  border: none;
  margin-top: 24px;
  margin-bottom: 308px;
}
.bid-forma-list-middle {
  display: none;
}

@media (max-width: 1023px) {
  :root {
    --padding-horizontal: 24px;
  }
  .bid {
    background-image: url(/landing-project-wheels/image_buildingmiddle.png);
  }
  .bid-title {
    padding-top: 84px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #2e2e2e;
  }
  .bid-description {
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
    padding-right: 24px;
  }
  .bid-forma-list {
    display: none;
  }
  .bid-forma-list-middle {
    display: block;
    padding-top: 24px;
  }
}
