.support {
  background-color: #aac6d6;
  padding-bottom: 48px;
}

.support-title {
  padding: 48px 0;
}

.support-description {
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.support-description-img {
  padding-top: 59px;
  padding-left: 30px;
  padding-right: 30px;
}

.support-description-block {
  padding: 48px 24px 57px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 376px;
  flex: 1 1 33%;
}

.support-description-part {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.support-description-middle {
  display: none;
}

.support-description-img-middle {
  display: none;
}

@media (max-width: 1023px) {
  .support-title {
    padding-top: 31px;
    padding-bottom: 16px;
  }

  .support-description {
    display: none;
  }

  .support-description-img-middle {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .support-description-middle {
    padding: 0;
    margin-top: -16px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  .support-description-block {
    background-color: #ffffff;
    padding: 24px;
    max-width: 475px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    flex: 1 0 280px;
  }

  .support-description-part {
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #aac6d6;
  }

  .support-description-part:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

@media (max-width: 510px) {
  .support .container {
    padding: 0px;
  }

  .support-description {
    display: none;
  }

  .support-description-middle {
    padding: 0 24px;
    margin-top: -16px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    overflow-x: auto;
  }
}
