.workshit-title {
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  align-items: center;
  color: #2e2e2e;
  padding-top: 48px;
}

.steps {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.steps-number {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "steps-number-line-left steps-number-title steps-number-line-right"
    "steps-description steps-description steps-description";
  max-width: 392px;
  align-items: center;
  gap: 24px;
}

.steps-part {
  display: flex;
  align-items: center;
}

.steps-number-title {
  padding: 0px;
  background: url(/landing-project-wheels/Path_bac.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  min-width: 72px;
  align-content: center;
  grid-area: steps-number-title;
}

.steps-number-line-right {
  grid-area: steps-number-line-right;
  height: 1px;
  width: 100%;
  border: 1px solid #aac6d6;
}

.steps-number-line-left {
  grid-area: steps-number-line-left;
  height: 1px;
  width: 100%;
  border: 1px solid #aac6d6;
}

.steps-number:first-child .steps-number-line-left,
.steps-number:last-child .steps-number-line-right {
  display: none;
}

.steps-description {
  grid-area: steps-description;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.request {
  margin: 28px auto 96px;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.2);
  border-top: 4px solid #aac6d6;
  max-width: 776px;
}

.request-personal-data {
  padding: 56px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.request-title {
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.legal-entity {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.legal-entity:invalid {
  background: #ffebee;
}

.inn {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.inn:invalid {
  background: #ffebee;
}

.name {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.name:invalid {
  background: #ffebee;
}

.phone-email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.phone {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.phone:invalid {
  background: #ffebee;
}

.email {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.email:invalid {
  background: #ffebee;
}

.request-checkbox {
  border: 1px solid;
}

.tire {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.request-adress {
  padding: 32px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.city {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.city:invalid {
  background: #ffebee;
}

.adress {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.adress:invalid {
  background: #ffebee;
}

.request-button-form {
  padding: 32px 100px 56px 100px;
}

.conditions {
  margin: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.request-checkbox {
  padding: 16px;
  border: 1px solid #aac6d6;
  border-radius: 8px;
  color: #2e2e2ea3;
}

.request-button-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.conditions {
  color: #2e2e2ea3;
}

.conditions_link {
  text-decoration: none;
  color: #263f63;
}

.forma-bid-button {
  width: 100%;
}

@media (max-width: 1023px) {
  .workshit-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 32px;
  }

  .steps {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  .steps-number {
    display: flex;
  }

  .steps-number-line-right {
    display: none;
  }

  .steps-number-title {
    height: 46px;
    background-image: url(/landing-project-wheels/_Path_1023.png);
    font-size: 20px;
  }

  .steps-number-line-left {
    display: none;
  }

  .request {
    box-shadow: none;
    max-width: 100%;
    margin-bottom: 0px;
    padding-bottom: 32px;
  }

  .request-personal-data {
    padding: 24px 0px 0px 0px;
  }

  .request-adress {
    padding: 24px 0px 24px 0px;
  }

  .request-button-form {
    padding: 0px;
    flex-direction: column-reverse;
    align-items: normal;
    gap: 16px;
  }

  .forma-bid-button {
    max-width: 100%;
  }
}
