.workshit-title {
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  align-items: center;
  color: #2e2e2e;
  padding-top: 48px;
}

.steps {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "steps-number-line steps-number-title steps-number-line "
    "steps-description steps-description steps-description";
}

.item1 {
  grid-area: steps-number-title;
}

.item2 {
  grid-area: steps-number-line;
}

.item3 {
  grid-area: steps-description;
}

.steps-number {
  max-width: 392px;
}

.steps-part {
  display: flex;
  align-items: center;
}

.steps-number-title {
  padding: 0px;
  background: url(/landing-project-wheels/Path_bac.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  min-width: 72px;
  align-content: center;
}

.steps-number-line {
  height: 1px;
  width: 100%;
  border: 1px solid #aac6d6;
}

.steps-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.request {
  margin: 28px 248px 96px 248px;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.2);
  border-top: 4px solid #aac6d6;
}

.request-personal-data {
  padding: 56px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.request-title {
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.legal-entity {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.inn {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.name {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.phone-email {
  display: grid;
  grid-template-columns: repeat(2, 276px);
  gap: 24px;
}

.phone {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.email {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.request-checkbox {
  border: 1px solid;
}

.tire {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.request-adress {
  padding: 32px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.city {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.adress {
  background-color: #c6deea;
  padding: 16px;
  border-radius: 4px;
  border: none;
}

.request-button-form {
  padding: 32px 100px 56px 100px;
}

.conditions {
  margin: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.request-button-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.forma-bid-button {
  width: 100%;
}
