.workshit-title {
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  align-items: center;
  color: #2e2e2e;
  padding-top: 48px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-template-areas:
    "steps-number-title steps-number-line "
    "steps-description";
}

.item1 {
    grid-area: steps-number-title;
  }
  
  .item2 {
    grid-area: steps-number-line;
  }
  
  .item3 {
    grid-area: steps-description;
  }

.steps-number-line {
  height: 1px;
  width: 100%;
  border: 1px solid;
}
