.block-forma-switch {
  padding-top: 16px;
  display: flex;
  place-items: center;
}

.block-forma-menu {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 48px;
  margin: 0 auto;
}

.block-forma-menu1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 2 2 66%;
  padding-bottom: 76px;
}

.block-forma-menu1-buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  border-bottom: 1px solid #aac6d6;
}

.block-forma-menu1-button {
  border: 0;
  background: none;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  height: 56px;
  color: #2e2e2e;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  padding: 0px;
}

.block-forma-menu1-button:hover {
  border-bottom: 3px solid black;
}

.block-forma-menu1-price {
  display: flex;
  flex-direction: row;
  align-self: start;
  gap: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #aac6d6;
  width: inherit;
}

.block-forma-menu1-price-description {
  flex: 1 1 170px;
}

.block-forma-menu1-title4 {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #2e2e2e;
  margin: 0;
}

.block-forma-menu1-content-description {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 4px;
  padding-top: 24px;
}

.block-forma-menu1-content-name {
  background-color: #e3f2fe;
  padding: 7px 16px 9px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  color: #2e2e2e;
  width: max-content;
}

.block-forma-menu1-content-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.block-forma-menu2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex: 1 1 33%;
}

.block-forma-menu2-title4 {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #2e2e2e;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aac6d6;
}

.block-forma-menu2-contant {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block-forma-menu2-contact-description-price {
  padding-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.block-forma-menu2-contact-description-percent {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.forma-bid-button {
  top: 16px;
  bottom: 16px;
  left: 36px;
  border-radius: 4px;
  width: 205px;
  height: 56px;
  background-color: #263f63;
  color: #ffffff;
  border: none;
  margin-top: 24px;
  margin-bottom: 27px;
}

.block-forma-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 309px;
  height: 275px;
}

.block-forma-img-back {
  z-index: -1;
  position: absolute;
  float: right;
}

.block-forma-img-first {
  float: right;
  z-index: 0;
  position: relative;
}
