.block_advantage_table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 24px;
  padding-bottom: 48px;
  padding-top: 48px;
}
.icon-wrapper {
  position: relative;
  width: 72px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-wrapper_background {
  position: absolute;
  inset: 0;
}
.icon-wrapper_icon {
  position: relative;
}
.block_advantage_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #c6deea;
  padding: 24px 24px;
  border-radius: 16px;
  flex: 1 0 292px;
}
@media (max-width: 1023px) {
  .block_advantage_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
  }
  .block_advantage_table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
  }
}
