.block__forma {
  padding-top: 16px;
  display: flex;
  place-items: center;
}
.block__forma_menu {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 48px;
  margin: 0 auto;
}
.block_forma_menu1 {
  display: flex;
  flex-direction: column;
  width: 776px;
  gap: 32px;
}
.block_forma_buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;

  border-bottom: 1px solid #aac6d6;
}
.block_forma_button {
  border: 0;
  background: none;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  height: 56px;
  color: #2e2e2e;
}
.block_forma_menu1_price {
  display: flex;
  flex-direction: row;
  align-self: start;
  gap: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #aac6d6;
  width: 776px;
}
.block_forma_menu2 {
  display: flex;
  border-bottom: 1px solid #aac6d6;
  width: 100%;
  align-self: flex-start;
  align-items: center;
  height: 56px;
}
.block__forma_title4 {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #2e2e2e;
  margin: 0 auto;
}
.block_forma_content_description {
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 4px;
  place-items: center;
  padding-top: 24px;
}
.block_forma_content {
  background-color: #e3f2fe;
  padding: 7px 16px 9px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  color: #2e2e2e;
}
