.hero_form {
  background-image: url("image_building.png");
  background-repeat: no-repeat;
  background-color: #e3f2fe;
  background-position: bottom center;
}
.hero_form_name {
  font-size: 42px;
  line-height: 46px;
  margin: 0 auto;
  padding-top: 122px;
  font-weight: 500;
}
.hero_form_description {
  margin: 0 auto;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2e2e;
  padding-right: 652px;
}
.hero_form_form2 {
  padding-top: 48px;
  display: flex;
  gap: 36px;
}
.hero_form_button {
  top: 16px;
  bottom: 16px;
  left: 36px;
  border-radius: 4px;
  width: 205px;
  height: 56px;
  background-color: #263f63;
  color: #ffffff;
  border: none;
  margin-top: 24px;
  margin-bottom: 308px;
}

@media (max-width: 1023px) {
  :root {
    --padding-horizontal: 24px;
  }
  .hero_form_name {
    padding-top: 84px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #2e2e2e;
  }
  .hero_form_description {
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
    padding-right: 24px;
  }
  .hero_form_form2 {
    display: none;
  }
}
